a {
  scroll-behavior: smooth;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.titulo-secao {
  font-family: "Roboto Slab", serif;
  color: #25292f;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #717070;
}

#introducao {
  /* height: 100vh; */
  padding-top: 150px;
  padding-bottom: 200px;
}

#introducao h1 {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
  margin-bottom: 15px;
}

#introducao p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  max-width: 350px;
  margin-bottom: 15px;
}

#introducao button {
  font-family: "Roboto", sans-serif;
  background: #b20000;
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
#introducao button:hover {
  cursor: pointer;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("imagens/hero.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#trabalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

/* #trabalho div {
  max-width: 512px;
} */

#trabalho .illustration img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#trabalho .flex {
  flex: 1;
}

#trabalho .content-holder .content h1 {
  font-family: "Roboto Slab", serif;
  color: #25292f;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#esforco {
  margin-top: 120px;
}

#esforco h1,
#esforco p {
  text-align: center;
}

#esforco p {
  max-width: 75%;
  margin: 0 auto;
}

#esforco .objetivos {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#esforco .objetivos img {
  border-radius: 5px;
  width: 180px;
  height: auto;
}

#mudanca {
  margin-top: 120px;
}

#mudanca > h1 {
  text-align: center;
}

#mudanca .thumbnail-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#mudanca .thumbnail-holder .thumbnail {
  flex: 1 1 300px;
}

#mudanca .thumbnail-holder .thumbnail {
  width: 100%;
  max-width: 330px;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  border-radius: 15px;
}
#mudanca .thumbnail-holder .thumbnail img {
  width: 100%;
  max-width: 330px;
  height: 100%;
}

#mudanca .thumbnail-holder .thumbnail > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
}

#mudanca .thumbnail-holder .thumbnail > header::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  border-radius: 5px;
}

#mudanca .thumbnail-holder .thumbnail > header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.02),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
}
#mudanca .thumbnail-holder .thumbnail > header > h1 {
  max-width: 260px;
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
}

#contato {
  margin-top: 60px;
}

#contato > h1 {
  text-align: center;
}

#contato > .content {
  display: flex;
}

#contato > .content > .flex {
  flex: 1;
}

#contato > .content > div > .contatos {
  display: flex;
}

#contato > .content > div > .contatos > div {
  flex: 1;
}

#contato .mapa img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
}

#contato > .content > div > .contatos > div > h2 {
  font-family: "Roboto Slab", serif;
  color: #25292f;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

#contato > .content > div > .contatos > div > p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  color: #25292f;
  text-transform: uppercase;
}

#contato > .content > form {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

#contato > .content > form > h3 {
  font-family: "Roboto Slab", serif;
  color: #25292f;
  font-size: 20;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#contato > .content > form > label {
  font-family: "Roboto", sans-serif;
  color: #25292f;
  font-size: 14;
  line-height: 1;
  font-weight: 400;
  margin-top: 20px;
}

#contato > .content > form > label:first-child {
  margin-top: 0;
}

#contato > .content > form > input,
#contato > .content > form > textarea {
  background-color: #e5e5e5;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 12px 20px;
  margin-top: 10px;
}

#contato > .content > form > button {
  background-color: #b20000;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  border: none;
  height: 50px;
  margin-top: 20px;
}

footer {
  width: 100%;
  height: 120px;
}

/* 
    < 576px ( tratar como se fosse 360px)

    576px > x <= 768px ( tratar como se fosse 576px)

    768px > x <= 990px ( tratar como se fosse 768px)
    
    990px > ( tratar como se fosse 990px)
*/

@media screen and (max-width: 575px) {
  body {
    width: 100%;
    max-width: 575px;
  }
  .container {
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
  }

  .hero-image {
    display: block;
    width: 100%;
  }

  #trabalho .illustration {
    display: none;
  }

  #esforco {
    margin-top: 60px;
  }

  #esforco h1 {
    text-align: left;
  }
  #esforco p {
    text-align: left;
    max-width: 100%;
  }

  #esforco .objetivos {
    flex-basis: 180px;
  }

  #esforco .objetivos img {
    width: 100%;
    height: auto;
    margin: 5px auto;
  }

  #mudanca {
    margin-top: 60px;
  }

  #mudanca h1 {
    text-align: left;
  }

  #mudanca .thumbnail-holder .thumbnail {
    width: 100%;
    max-width: 100%;
  }
  #mudanca .thumbnail-holder .thumbnail img {
    width: 100%;
    max-width: 100%;
  }

  #contato > h1 {
    text-align: left;
  }

  #contato > .content {
    flex-direction: column;
  }

  #contato .mapa img {
    display: block;
    width: 100%;
    height: auto;
  }

  #contato > .content > div > .contatos {
    flex-direction: column;
  }

  #contato > .content > div > .contatos #contato > .content > form {
    max-width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  body {
    background-color: lavender;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: aquamarine;
  }
}

@media screen and (min-width: 1023px) {
}
